
.custom-radios div {
    display: inline-block;
  }

.custom-radios input[type="radio"] {
  display: none;
}

.custom-radios label {
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 14px; 
}

.custom-radios span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  line-height: 44px;
}
.custom-radios img {
  visibility: hidden;
  transition: all .3s ease;
}

span {
  background-color: #2ecc71;
}

.custom-radios .color-2 + label span {
  background-color: #3498db;
}

.custom-radios .color-3 + label span {
  background-color: #f1c40f;
}

.custom-radios .color-4 + label span {
  background-color: #e74c3c;
}

.custom-radios :checked + label span img {
  visibility: visible;
}
