body.rtl {
    direction: rtl;
    text-align: right;
}



header {
    position: absolute;
    top: 0px;
    background-color: black;
    width: 100%;
    z-index: 1;
    padding-bottom: 5px; 
}


.action-buttons {
    display: inline-block;
}

#books-table tr { 
    padding: 20px 0 20px 0
}
td {
    font-size: 3em;
}

.empty-row {
    height: 30px;
    background-color: transparent;
}

.table-container {
    width: 100%;
}

/* modal read book */
.book-details {
    z-index: 2;
    padding: 20px;
    display: none;
    position: fixed;
    top: 100px;
    left: 10%;
    width: 80%;
    border: 2px solid black;
    background-color: orangered;;
    color: yellow;
    font-size: 1.5em;
    border-radius: 2%;
    text-align: center;
}

.book-details p {
    text-align: left;
}

.book-details img {
    margin: 10px 0 10px 0;
}
.black-square {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: gray;
    color: white;
}
.white-rect {
    display: inline-block;
    height: 40px;
    width: 120px;
    background-color: #fff;
    color: gray;
}

.side-modal {
    display: none;
    position: fixed;
    bottom: 20px;
    background-color: orangered;
    padding: 20px;
}


#books-table tr button{
    display: none;
}


@media (min-width: 992px) {
    #books-table tr button{
        display: inline;
        visibility: hidden;
    }
    
    #books-table tr:hover button {
        visibility: visible;
    }
        
    tr .btn-container {
        display: flex;
        justify-content: center;
        
    }
    
    #books-table tr:hover {
        border-bottom: 4px solid orangered; 
    }
    
    .radio-container {
        display: none;
    }
    
    .action-buttons {
        display: none;
    }
    
    .book-details {
        left: 20%;
        width: 60%;
    }
    #books-table tr { 
        padding: 0;
    }
    
    header {
        position: absolute;
        top: 0px;
        background-color: black;
        width: 100%;
        z-index: 1;
        padding-bottom: 5px; 
    }
    td {
        font-size: 1em;
    }
}

.screen-overlay {
    visibility: hidden;
    z-index: 1;
    background-color: gray;
    opacity: 0.7;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}